<div class="project-card">
	<div class="project-contents">
		<div class="project-cover">
			<%= link_to(project_path(@project), class: "cover-link") do %><% end %>
			<div class="cover-image" style="background-image: url(<%= discover_image(@project.cover_url) %>);">
			</div>
			<div class="cover-overlay"><%= raw @project.snippet %></div>
		</div>
		<div class="project-meta">
			<%= link_to(project_path(@project)) do %>
			<div class="meta-left">
				<h3 class="meta-title">
					<%= @project.title %>
				</h3>
				<h5 class="meta-subtitle">
					<%= @project.subtitle %>
				</h5>
			</div>
			<% end %>
			<div class="meta-right">
				<div class="meta-skills">
					<% meta_skills = @project.project_skills.ordered.meta.take(3) %>
					<% for project_skill in meta_skills %>
						<% skill = project_skill.skill %>
						<div class="meta-skill meta-skill-1-<%= meta_skills.size %>">
							<div class="skill-image" style="background-image: url(<%= discover_image(skill.img_url) %>)"></div>
							<div class="skill-label"><%= skill.name %></div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
