<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @project.title %>
</p>

<p>
	<strong>Subtitle:</strong>
	<%= @project.subtitle %>
</p>

<p>
	<strong>Snippet:</strong>
	<%= @project.snippet %>
</p>

<p>
	<strong>Description:</strong>
	<%= @project.description %>
</p>

<p>
	<strong>Dates:</strong>
	<%= @project.dates %>
</p>

<p>
	<strong>Collaboration:</strong>
	<%= @project.collaboration %>
</p>

<p>
	<strong>Cover url:</strong>
	<%= @project.cover_url %>
</p>

<p>
	<strong>Order:</strong>
	<%= @project.order %>
</p>

<p>
	<strong>Visibility:</strong>
	<%= @project.visibility %>
</p>

<p>
	<strong>Site link:</strong>
	<%= @project.site_link %>
</p>

<p>
	<strong>Github link:</strong>
	<%= @project.github_link %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<div class="large-container" style="margin-bottom: 100px;">
	<h1 class="project-title">A&M Chess Store</h1>
	<h4 class="project-subtitle">
		Ruby on Rails project (67-272)
	</h4>
	<div class="project-preface">
		<div class="project-slides">
			<img src="http://i.imgur.com/klHiCqE.png" style="width: 100%"/>
		</div>
		<div class="project-details">
			<div class="details-main">
				<div class="details-brand" style="background-image: url(http://i.imgur.com/klHiCqE.png);"></div>
				<div class="details-snippet">
					This is a sample snippet about the sample project. There are lots of cool things about this project! I think it's really great and interesting.<br/>
					<br/>
					Blah blah blah. Blah blah. Blah.
					<div class="details-skills">
						<h4>Skills</h4>
						<div class="details-skill">
							<div class="skill-image" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/2000px-Ruby_logo.svg.png)"></div>
							<div class="skill-label">Ruby on Rails</div>
						</div>
						<div class="details-skill">
							<div class="skill-image" style="background-image: url(http://i.imgur.com/8fwdKvF.png)"></div>
							<div class="skill-label">HTML5</div>
						</div>
						<div class="details-skill">
							<div class="skill-image" style="background-image: url(http://i.imgur.com/NgOEccb.png)"></div>
							<div class="skill-label">Javascript</div>
						</div>
						<div class="details-skill">
							<div class="skill-image" style="background-image: url(http://i.imgur.com/IrP3Fci.png)"></div>
							<div class="skill-label">CSS3</div>
						</div>
						<div class="details-skill">
							<div class="skill-image" style="background-image: url(https://foundationstacks.com/depot/images/yeti.svg)"></div>
							<div class="skill-label">Foundations CSS</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="project-postface">
		<div class="project-description">
		</div>
		<div class="project-sidebar">
			<div class="details-misc">
				<h4>Github Link</h4>
					<a href="https://github.com/liao-frank/A-M-Chess-Store" target="_blank">
						github.com/liao-frank/A-M-Chess-Store
					</a>
				<h4>Project Link</h4>
					<a href="https://gentle-brushlands-60542.herokuapp.com/" target="_blank">
						gentle-brushlands-60542.herokuapp.com
					</a>
				<h4>Project Dates</h4>
					Spring 2017
			</div>
		</div>
	</div>
</div>