<p id="notice"><%= notice %></p>

<p>
	<strong>Description:</strong>
	<%= @project.description %>
</p>

<p>
	<strong>Collaboration:</strong>
	<%= @project.collaboration %>
</p>

<p>
	<strong>Order:</strong>
	<%= @project.order %>
</p>

<p>
	<strong>Visibility:</strong>
	<%= @project.visibility %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<div class="large-container" style="margin-bottom: 100px;">
	<h1 class="project-title"><%= @project.title %></h1>
	<h4 class="project-subtitle"><%= @project.subtitle %></h4>
	<div class="project-preface">
		<div class="project-slides">
			<img src="http://i.imgur.com/klHiCqE.png" style="width: 100%"/>
		</div>
		<div class="project-details">
			<div class="details-main">
				<div class="details-brand" style="background-image: url(<%= discover_image("http://i.imgur.com/klHiCqE.png") %>);"></div>
				<div class="details-snippet-and-skills">
					<div class="details-snippet"><%= @project.snippet %></div>
				</div>
			</div>
		</div>
	</div>
	<div class="project-postface">
		<div class="project-description">
		</div>
		<div class="project-sidebar">
			<div class="sidebar-details details-skills">
				<h4>Skills</h4>
				<div class="details-skill">
					<div class="skill-image" style="background-image: url(http://findicons.com/files/icons/1607/ruby_on_rails/256/ror_logo.png)"></div>
					<div class="skill-label">Ruby on Rails</div>
				</div>
				<div class="details-skill">
					<div class="skill-image" style="background-image: url(http://i.imgur.com/8fwdKvF.png)"></div>
					<div class="skill-label">HTML5</div>
				</div>
				<div class="details-skill">
					<div class="skill-image" style="background-image: url(http://i.imgur.com/NgOEccb.png)"></div>
					<div class="skill-label">Javascript</div>
				</div>
				<div class="details-skill">
					<div class="skill-image" style="background-image: url(http://i.imgur.com/IrP3Fci.png)"></div>
					<div class="skill-label">CSS3</div>
				</div>
				<div class="details-skill">
					<div class="skill-image" style="background-image: url(https://foundationstacks.com/depot/images/yeti.svg)"></div>
					<div class="skill-label">Foundations CSS</div>
				</div>
			</div>
			<div class="sidebar-details details-misc">
				<!-- GitHub Link -->
				<% if @project.github_link %>
					<h4>Github Link</h4>
					<a href="<%= @project.github_link %>" target="_blank">
						<div class="icon icon-12x12" style="background-image: url(<%= discover_image("icons/external_link_white.png") %>);"></div>
						<%= clean_url(@project.github_link) %> LONG TEXT TEST
					</a>
				<% end %>
				<!-- Project Link -->
				<% if @project.site_link %>
					<h4>Project Link</h4>
					<a href="<%= @project.site_link %>" target="_blank">
						<div class="icon icon-12x12" style="background-image: url(<%= discover_image("icons/external_link_white.png") %>);"></div>
						<%= clean_url(@project.site_link) %>
					</a>
				<% end %>
				<!-- Project Dates -->
				<% if @project.dates %>
					<h4>Project Dates</h4>
					<%= @project.dates %>
				<% end %>
			</div>
		</div>
	</div>
</div>