<div class="large-container" style="margin-bottom: 20px;">
	<h1 class="project-title"><%= @project.title %></h1>
	<h4 class="project-subtitle"><%= @project.subtitle %></h4>
	<div class="project-preface">
		<div class="project-slides" style="background-image: url(<%= discover_image(@project.cover_url) %>);">
			<div class="project-slides-background"></div>
		</div>
		<div class="project-details">
			<div class="details-main">
				<div class="details-brand" style="background-image: url(<%= discover_image(@project.cover_url) %>);"></div>
				<div class="details-snippet-and-skills">
					<div class="details-snippet"><%= raw @project.description %></div>
				</div>
			</div>
		</div>
	</div>
	<div class="project-postface">
		<div class="project-description">
			<div class="slide-block" onclick="switchSlides(this, '<%= discover_image(@project.cover_url) %>');">
			<div class="slide-preview">
					<div class="slide-preview-image" style="background-image: url(<%= discover_image(@project.cover_url) %>);"></div>
				</div>
			</div>
			<% for project_image in @project_images %>
				<div class="slide-block" onclick="switchSlides(this, '<%= discover_image(project_image.img_url) %>');">
					<div class="slide-preview">
						<div class="slide-preview-image" style="background-image: url(<%= discover_image(project_image.img_url) %>);"></div>
					</div>
				</div>
			<% end %>
			<script>
				$('.slide-block').first().click();
			</script>
		</div>
		<div class="project-sidebar">
			<div class="sidebar-details details-skills">
				<h4>Skills</h4>
				<% for project_skill in @project_skills %>
					<% skill = project_skill.skill %>
					<a class="details-skill" href="<%= skill.dev_link %>" target="_blank">
						<div class="skill-image" style="background-image: url(<%= discover_image(skill.img_url) %>)"></div>
						<div class="skill-label"><%= skill.name %></div>
					</a>
				<% end %>
			</div>
			<div class="sidebar-details details-misc">
				<!-- GitHub Link -->
				<% if @project.github_link != "" %>
					<h4>Github Link</h4>
					<a href="<%= @project.github_link %>" target="_blank">
						<div class="icon icon-12x12" style="background-image: url(<%= discover_image("icons/external_link_white.png") %>);"></div>
						<%= clean_url(@project.github_link) %>
					</a>
				<% end %>
				<!-- Project Link -->
				<% if @project.site_link != "" %>
					<h4>Project Link</h4>
					<a href="<%= @project.site_link %>" target="_blank">
						<div class="icon icon-12x12" style="background-image: url(<%= discover_image("icons/external_link_white.png") %>);"></div>
						<%= clean_url(@project.site_link) %>
					</a>
				<% end %>
				<!-- Project Dates -->
				<% if @project.dates != "" %>
					<h4>Project Dates</h4>
					<%= @project.dates %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="mobile-show visit-desktop">
		Visit on desktop to see if there are screenshots!
	</div>
	<% if false %>
		<p id="notice"><%= notice %></p>
		<%= link_to 'Edit', edit_project_path(@project) %> |
	<% end %>
	<%= link_to browse_path(anchor: "#{@project.title.gsub(' ', '-')}"), class: 'project-back-link' do %>
		Back to Projects
	<% end %>
</div>


