<%= form_with(model: project_skill, local: true) do |form| %>
  <% if project_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_skill.errors.count, "error") %> prohibited this project_skill from being saved:</h2>

      <ul>
      <% project_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.collection_select :project_id, Project.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :skill_id %>
    <%= form.collection_select :skill_id, Skill.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_skill_description %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :project_skill_order %>
  </div>

  <div class="field">
    <%= form.label :meta %>
    <%= form.check_box :meta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
