<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_image.project_id %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @project_image.caption %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @project_image.img_url %>
</p>

<p>
  <strong>Order:</strong>
  <%= @project_image.order %>
</p>

<%= link_to 'Edit', edit_project_image_path(@project_image) %> |
<%= link_to 'Back', project_images_path %>
