<!DOCTYPE html>
<html>
	<head>
		<title>Frank Liao</title>
		<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div id="preloader">
			<div class="blue bar"></div>
			<div class="green bar"></div>
			<div class="red bar"></div>
		</div>
		<div id="wrapper">
			<div id="navbar">
				<div class="hamburger">
					<div class="hamburger-icon" style="background-image: url(<%= discover_image("icons/hamburger_white.png") %>);"></div>
					<div class="close-icon" style="background-image: url(<%= discover_image("icons/close_white.png") %>);"></div>
				</div>
				<script>
					$('.hamburger-icon').on('touchstart click', function(e) {
						e.preventDefault();
						showMobileNav();
					});
					$('.close-icon').on('touchstart click', function(e) {
						e.preventDefault();
						hideMobileNav();
					});
				</script>
				<div class="navlinks">
					<%= link_to("Home", root_path) %>
					<%= link_to("About", about_path) %>
					<%= link_to("Projects", browse_path) %>	
				</div>
			</div>
			<div id="content-wrapper" style="display: none;">
				<%= yield %>
			</div>
			<div id="footer">
				<!-- <div class="mobile-divider"></div> -->
				<div class="social-links">
					<a class="github icon" href="https://github.com/liao-frank" target="_blank" style="background-image: url(<%= discover_image("icons/github_grey.png") %>);"></a>
					<a class="linkedin icon" href="https://www.linkedin.com/in/fliao/" target="_blank" style="background-image: url(<%= discover_image("icons/linkedin_grey.png") %>);"></a>
				</div>
				<!-- <div class="mobile-divider"></div> -->
				<div class="copyright">
					© Frank Liao 2017
				</div>
			</div>
		</div>
	</body>
</html>
