<!DOCTYPE html>
<html>
	<head>
		<title>PersonalSite</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div id="wrapper">
			<div id="navbar">
				<div class="navlinks">
					<%= link_to("Home", root_path) %>
					<a href="#">About</a>
					<%= link_to("Projects", browse_path) %>
					<a href="#">Experiences</a>
				</div>
			</div>
			<%= yield %>
			<div id="footer">
				© Frank Liao 2017
			</div>
		</div>
	</body>
</html>
